# OpenSSL Engine Configuration

# Load the SM engine
openssl_conf = openssl_init

[openssl_init]
engines = engine_section

[engine_section]
sm_ce_engine = sm_section

[sm_section]
engine_id = sm_ce_engine
dynamic_path = /usr/local/lib/engines/libsm_engine.so
init = 1
# 让引擎接管摘要和对称加密算法
default_algorithms = DIGESTS,CIPHERS
